<div class="container">
  <div class="header">
    <button class="btn btn-add-question" [routerLink]="['/question-management']">Back</button>
    <h2>Question List</h2>
  </div>
  <div class="content">
    <div class="unanswered-content">
      <div class="list-title">Unanswered Questions</div>
      <form [formGroup]="answersForm">
        <div class="card" *ngFor="let questionDetails of unansweredQuestionList">
          <div class="question-details">
            <p>
              <strong>Q: </strong>{{ questionDetails.question }}
            </p>
            <div class="label" [ngClass]="{'invalid': checkFormControlValidation(questionDetails.id)}"
              *ngIf="questionDetails.questionType === 'single'">
              <div class="form-group">
                <ng-container *ngFor="let optionDetails of questionDetails.options">
                  <label>
                    <input type="radio" [formControlName]="questionDetails.id" [name]="questionDetails.id"
                      [value]="optionDetails.option">{{
                    optionDetails.option }}
                  </label>
                  <br>
                </ng-container>
              </div>
              <div class="error" *ngIf="checkFormControlValidation(questionDetails.id)">
                This field is required.
              </div>
            </div>
            <div class="label" [ngClass]="{'invalid': checkFormControlValidation(questionDetails.id)}"
              *ngIf="questionDetails.questionType === 'multiple'">
              <div class="form-group">
                <ng-container *ngFor="let optionDetails of questionDetails.options; let i=index;">
                  <label>
                    <input type="checkbox" [name]="optionDetails.option.substring(0,3)+ i"
                      [value]="optionDetails.option"
                      [checked]="answersForm.get(questionDetails.id)?.value[optionDetails.option.substring(0,3)+ i]"
                      (change)="onCheckBoxChange(questionDetails.id, optionDetails.option.substring(0,3)+ i)">{{
                    optionDetails.option }}
                  </label>
                  <br>
                </ng-container>
              </div>
              <div class="error" *ngIf="isMCQValid(questionDetails.id)">
                This field is required.
              </div>
            </div>
            <label class="label"
              [ngClass]="{'invalid': checkFormControlValidation(questionDetails.id) || answersForm.get(questionDetails.id)?.value.length > 255}"
              *ngIf="questionDetails.questionType === 'open'">
              <textarea class="form-control" placeholder="Enter Question"
                [formControlName]="questionDetails.id"></textarea>
              <div class="error" *ngIf="checkFormControlValidation(questionDetails.id)">
                This field is required.
              </div>
              <div class="error"
                *ngIf="!checkFormControlValidation(questionDetails.id) && answersForm.get(questionDetails.id)?.value.length > 255">
                Please enter maximum 255 characters.
              </div>
            </label>
          </div>
          <div class="action">
            <button class="btn btn-add-question"
              (click)="submitAnswer(questionDetails, questionDetails.id)">Submit</button>
          </div>
        </div>
        <div class="card" *ngIf="unansweredQuestionList.length === 0">
          <h4>No records!</h4>
        </div>
      </form>
    </div>
    <div class="answered-content">
      <div class="list-title">Answered Questions</div>
      <div class="card" *ngFor="let questionDetails of answeredQuestionList">
        <div class="question-details">
          <p><strong>Q: </strong>{{ questionDetails.question }}</p>
          <div class="label" *ngIf="questionDetails.questionType === 'single'">
            <div class="form-group">
              <ng-container *ngFor="let optionDetails of questionDetails.options">
                <label>
                  <input type="radio" [name]="questionDetails.question" [value]="optionDetails.option"
                    [checked]="questionDetails.answer === optionDetails.option" disabled>{{ optionDetails.option }}
                </label>
                <br>
              </ng-container>
            </div>
          </div>
          <div class="label" *ngIf="questionDetails.questionType === 'multiple'">
            <div class="form-group">
              <ng-container *ngFor="let optionDetails of questionDetails.options; let i=index;">
                <label>
                  <input type="checkbox" [name]="optionDetails.option.substring(0,3)+ i" [value]="optionDetails.option"
                    [checked]="questionDetails.answer[optionDetails.option.substring(0,3)+ i]" disabled>{{
                  optionDetails.option
                  }}
                </label>
                <br>
              </ng-container>
            </div>
          </div>
          <label class="label" *ngIf="questionDetails.questionType === 'open'">
            <textarea class="form-control" placeholder="Enter Question" [value]="questionDetails.answer"
              disabled></textarea>
          </label>
        </div>
        <div class="action">
          <button class="btn btn-edit-question" (click)="clearAnswer(questionDetails)">
            Clear Answer
          </button>
        </div>
      </div>
      <div class="card" *ngIf="answeredQuestionList.length === 0">
        <h4>No records!</h4>
      </div>
    </div>
  </div>
</div>
